/saaj-ri/target/
/saaj-ri/src/test/mime/data/image_sent.png
/saaj-ri/src/test/mime/data/saving_text.cnt
/saaj-ri/src/test/mime/data/headers.txt
/saaj-ri/src/test/mime/data/message.txt
/saaj-ri/src/test/mime/data/custom_type_sent.ctp
/saaj-ri/src/test/mime/data/java_logo_sent.jpg
/saaj-ri/src/test/mime/data/saving.cnt
*.iml
*.ipr
.idea
.DS_Store
