%define _topdir @build.dir@
Summary: SOAP with Attachments API for Java 
Name: sun-saaj
Version: @saaj.version@ 
Release: @saaj.release@ 
License: Copyright 2004 Sun Microsystems, Inc.  All rights reserved.  Use is subject to license terms.
Group: Development/Libraries
Source: %{name}-%{version}.tar
Distribution: @prod.name@ 
Vendor: Sun Microsystems, Inc.
Provides: %{name}-@saaj.version@-@saaj.release@
Requires: sun-jaxp, sun-javamail, sun-jaf
BuildRoot: %{_topdir}/BUILD/%{name}-%{version}
URL: http://www.sun.com

%description
SOAP with Attachments API for Java

%prep

%setup

%build

%install

%clean

%files
%attr(-,root,root) @install.prefix@/share/lib/saaj-api.jar
%attr(-,root,root) @install.prefix@/share/lib/saaj-impl.jar
